:root {
    --red--: #E10600;
    --red-70--: #E1060070;
    --dark-blue--: #15151E;
    --gray--: #2D2D34;
    --blk-wht--: #15151E;
}

/* Modo Claro descartado
 @media (prefers-color-scheme: light){
    :root {
        --red--: #E10600;
        --red-70--: #E1060070;
        --gray--: #aaaac2;
        --blk-wht--: white;
    }

    h1,h2,h3,h4,h5,h6,p,a,strong {color:var(--dark-blue--);}

    header > h1 , header > h2 , footer > p{color: var(--blk-wht--);}

    aside > a:hover {background-color: #15151E;}
} */

* {
    font-family: "Titillium Web", sans-serif;
    color: white;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}
/* Fonte especial */
@font-face {
    font-family: 'Formula1-Display-Bold-Bold';
    src:url('/Font/Formula1-Display-Bold-Bold.ttf.woff') format('woff'),
        url('/Font/Formula1-Display-Bold-Bold.ttf.svg#Formula1-Display-Bold-Bold') format('svg'),
        url('/Font/Formula1-Display-Bold-Bold.ttf.eot'),
        url('/Font/Formula1-Display-Bold-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

/* header padrão para as paginas */
header {
    background-color: var(--red--);
    width: 100%;

    padding: 2vh 7vw;
}

body {background-color: var(--blk-wht--);}

a {text-decoration: none;}