/* Versão Mobile do index*/
@media (max-width: 600px){
    header{
        height: 12vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    header > h1 {font-size: 1.5em}
    header > h2 {font-size: 1em}

    main{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    main > section {
        width: 90%;
        height: 22vh;

        flex-direction: row;
    }
}

body {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

header > h1 { 
    font-family: "Formula1-Display-Bold-Bold";
 }  

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    width: 100vw;
    padding-top: 2vh;
}

section {
    margin: 0 10px;
    border: solid 3px var(--gray--);
    border-radius: 5px;
    padding: 15px;

    width: 220px;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section:hover {
    border: solid 3px var(--red--) ;
    transition: ease-in-out 200ms;
    cursor: pointer;
    background-color: var(--red-70--);
}

.img-wrapper {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;

    overflow: hidden;
    border-radius: 3px;
}

div > h1 {font-size: large;}

footer {
    margin-top: 10px;
    padding: 0 20px;
    width: 100%;
    height: 10vh;
    background-color: var(--red--);

    position: relative;
    bottom: 0;

    font-size: x-small;
    display: flex;
    justify-content: right;
    align-items: center;
}