header{
    position: sticky;
    width: 100%;

    padding-left: 4vw; 
}
header > h1 {
    font-size: 2em;
    text-align: center;
}

aside {
    border-right: solid 2px var(--light-gray--);

    width: 270px;
    height: 80vh;
    padding: 20px;
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

a#home , .summary , .related {
    display: inherit;
    align-items: center;

    width: 100%;
    border: solid 3px var(--light-gray--);
    border-radius: 7px;
    padding: 12px;
}

a#home:hover {
    transition: ease-in-out 200ms;
    border: solid 3px var(--red--);
    background-color: white;
    color: var(--dark-blue--);
}

.summary , .related {
    align-items: flex-start;
    flex-direction: column;
}