header{
    position: sticky;
    width: 100%;

    padding-left: 4vw; 
}
header > h1 {
    font-size: 2em;
    text-align: center;
}

div#org {
    display: flex;
    flex-direction: row;
}

aside {
    border-right: solid 2px var(--gray--);

    width: 270px;
    height: 100vh;
    padding: 0 20px 20px;
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

a#home , .summary , .related {
    display: inherit;
    align-items: center;

    width: 100%;
    border: solid 3px var(--gray--);
    border-radius: 7px;
    padding: 12px 8px;
}

a#home:hover {
    transition: ease-in-out 200ms;
    border: solid 3px var(--red--);
    background-color: var(--bg-blue--);
    color: var(--blk-wht--);
}

.summary , .related {
    align-items: flex-start;
    flex-direction: column;
}

.related > a {
    font-size: small;
    width: 100%;

    border-radius: 5px;
    padding: 7px;
    text-decoration: underline;
}

.summary > h2 {margin: 0 0 10px 8px;}
.summary > a {
    font-size: small;
    width: 100%;

    border-left: solid 5px var(--red--);
    border-radius: 0 5px 5px 0;
    padding: 7px;
}

a:hover {
    background-color: #00000080;
    transition: ease-in 100ms;
}

main {
    width: 70vw;
    padding: 30px 50px;
}

.gallery {
    width: 80%;
    height: 40vh;

    margin-bottom: 25px;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;;
}

::-webkit-scrollbar {display: none;}

.gallery > img {
    height: 100%;
    border-left: solid 5px var(--red--);
    border-bottom: solid 5px var(--red--);
    border-radius: 5px;
}


h2, h3 , h4 , h5 {
    font-size: larger;
    border-left: solid 5px var(--red--);
    padding: 5px 10px;
}

section > h2 {border: none; padding: 0;} /* corrigindo o uso do h2 do main */

p {
    line-height: 25pt;
    padding-left: 15px;
}

hr {margin: 20px 0;}

#ai-badge {
    width: fit-content;
    font-size: .7em;

    border: solid 2px var(--light-gray--);
    border-radius: 100px;
    padding: 10px 20px;
    background-color: var(--dark-blue--);

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 30px;
    right: 50px;
}

#ai-badge:hover {
    border: solid 2px #2e81ff;
    box-shadow: #79afff 0 0 5px 1px;
}