header{
    position: sticky;
    width: 100%;

    padding-left: 4vw; 
}
header > h1 {
    font-size: 2em;
    text-align: center;
}

div#org {
    display: flex;
    flex-direction: row;
}

aside {
    border-right: solid 2px var(--light-gray--);

    width: 270px;
    height: 100vh;
    padding: 20px;
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

a#home , .summary , .related {
    display: inherit;
    align-items: center;

    width: 100%;
    border: solid 3px var(--light-gray--);
    border-radius: 7px;
    padding: 8px;
}

a#home:hover {
    transition: ease-in-out 200ms;
    border: solid 3px var(--red--);
    background-color: white;
    color: var(--dark-blue--);
}

.summary , .related {
    align-items: flex-start;
    flex-direction: column;
}

.related > a {
    font-size: small;
    width: 100%;

    border-radius: 5px;
    padding: 7px;
    text-decoration: underline;
}

.summary > h2 {margin: 0 0 10px 8px;}
.summary > a {
    font-size: small;
    width: 100%;

    border-left: solid 5px var(--red--);
    border-radius: 0 5px 5px 0;
    padding: 7px;
}

a:hover {
    background-color: #00000080;
    transition: ease-in 100ms;
}

main {
    width: 70vw;
    padding: 30px 50px;
}

h2, h3 , h4 , h5 {
    font-size: larger;
}

p {line-height: 25pt;}

hr {margin: 20px 0;}